<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/skeleton.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
  <link rel="icon" type="image/png" href="/assets/img/favicon.png">
  <script src="/assets/js/jquery-3.5.1.min.js"></script>
  <script src="/assets/js/handle_input.js"> </script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h3>Is het de of het?</h3>
        <p>Je kunnen het zin in de box typen en de model beantwoord u.</p>
      </div>
    </div>
    <div class="row">

        <form id="request_inference">
          <textarea class="u-full-width" placeholder="Mijn zin is.." id="sentences"></textarea>
          <input class="button-primary" type="submit" value="Submit">
        </form>
      
    </div>
    <div class="row">
      <div class="six columns">
        <h4> Resultaat </h4>
        <div id="predicitions"></div>
      </div>
    </div>
  </div>
</body>
</html>
