<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/normalize.css?v={{ site.time | date:'%s' }}">
  <link rel="stylesheet" href="/assets/css/skeleton.css?v={{ site.time | date:'%s' }}">
  <link rel="stylesheet" href="/assets/css/custom.css?v={{ site.time | date:'%s' }}">
  <script src="/assets/js/jquery-3.5.1.min.js?v={{ site.time | date:'%s' }}"></script>
  <script src="/assets/js/handle_input.js?v={{ site.time | date:'%s' }}"> </script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="twelve column" style="margin-top: 15%">
        <h4>U kunt de zin in de box typen en het model beantwoordt u.</h4>
      </div>
    </div>
    <div class="row">
        <form id="request_inference" >
          <textarea class="u-full-width" required rows="4" autofocus placeholder="Mijn zin is.." id="sentences"></textarea>

          <input class="button-primary" type="submit" value="Submit">
        </form>
    </div>
    <div class="row">
      <div class="twelve columns">
        <div id="predicitions"></div>
      </div>
    </div>
  </div>
</body>
